{{ if .Values.hub.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: windmill-hub
  labels:
    app: windmill-hub
    app.kubernetes.io/name: windmill-hub
    chart: {{ template "windmill.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}    
spec:
  replicas: {{ .Values.hub.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 3
      maxUnavailable: 0
  selector:
    matchLabels:
      app: windmill-hub
  template:
    metadata:
      labels:
        app: windmill-hub
        app.kubernetes.io/name: windmill-hub
        container: windmill-hub
{{- with .Values.hub.labels }}
{{ toYaml . | indent 8 }}
{{- end }}
{{- with .Values.hub.annotations }}
      annotations:
{{ toYaml . | indent 8 }}
{{- end }}
    spec:
      {{ if .Values.windmill.imagePullSecrets }}
      imagePullSecrets:
      - name: {{ .Values.windmill.imagePullSecrets }}
      {{ end }}       
      containers:
      - name: windmill-hub
        securityContext:
      {{- with .Values.hub.containerSecurityContext }}
      {{- toYaml . | nindent 10 }}
      {{- end }}
        image: {{ default "ghcr.io/windmill-labs/windmillhub-ee-public" .Values.hub.image }}:{{ default "main" .Values.hub.tag }}
        imagePullPolicy: {{ default "Always" $.Values.windmill.imagePullPolicy }}
        ports:
        - containerPort: 3000
        env:
        {{- with .Values.hub.extraEnv }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{ if .Values.hub.databaseSecret }}
        - name: "DATABASE_URL"
          valueFrom:
            secretKeyRef:
              name: "windmill-database"
              key: "url"
        {{ else if .Values.hub.databaseUrlSecretName }}
        - name: "DATABASE_URL"
          valueFrom:
            secretKeyRef:
              name: "{{ .Values.hub.databaseUrlSecretName }}"
              key: "{{ .Values.hub.databaseUrlSecretKey }}"
        {{ else }}
        - name: "DATABASE_URL"
          value: "{{ .Values.hub.databaseUrl }}"
        {{ end }}
        - name: PUBLIC_PRIVATE_HUB
          value: "true"
        - name: PUBLIC_APP_URL
          value: "{{ .Values.windmill.baseProtocol }}://{{ .Values.windmill.baseDomain }}"
        {{ if .Values.hub.apiSecretSecretName }}
        - name: "API_SECRET"
          valueFrom:
            secretKeyRef:
              name: "{{ .Values.hub.apiSecretSecretName }}"
              key: "{{ .Values.hub.apiSecretSecretKey }}"
        {{ else if .Values.hub.apiSecret }}
        - name: "API_SECRET"
          value: "{{ .Values.hub.apiSecret }}"
        {{ end }}
        {{ if .Values.enterprise.enabled }}
        {{ if .Values.enterprise.licenseKeySecretName }}
        - name: "LICENSE_KEY"
          valueFrom:
            secretKeyRef:
              name: {{ .Values.enterprise.licenseKeySecretName }}
              key: {{ .Values.enterprise.licenseKeySecretKey }}
        {{ else if .Values.enterprise.licenseKey }}
        - name: "LICENSE_KEY"
          value: "{{ .Values.enterprise.licenseKey }}"
        {{ else }}
        - name: "LICENSE_KEY"
          value: "{{ .Values.hub.licenseKey }}" #DEPRECATED
        {{ end }}
        {{ end }}
        resources:
{{ toYaml .Values.hub.resources | indent 12 }}
    {{- with .Values.hub.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.hub.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.hub.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.hub.podSecurityContext }}
      securityContext:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.hub.securityContext }}
      securityContext:
{{ toYaml . | indent 8 }}
    {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: windmill-hub
spec:
  ports:
    - port: 3003
      protocol: TCP
      targetPort: 3000
  selector:
    app.kubernetes.io/name: windmill-hub
  sessionAffinity: ClientIP
  type: ClusterIP
{{ end }}
