{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: windmill
{{- with .Values.ingress.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
spec:
  {{ if .Values.ingress.className }}
  ingressClassName: "{{ .Values.ingress.className }}"
  {{ end }}
{{- if .Values.ingress.tls }}
  tls:
  {{- range .Values.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
    - host: {{ .Values.windmill.baseDomain | quote }}
      http:
        paths:
          - path: /ws/
            pathType: Prefix
            backend:
              service:
                name: windmill-lsp
                port:
                  number: 3001
    {{ if .Values.enterprise.enabled }}
    - host: {{ .Values.windmill.baseDomain | quote }}
      http:
        paths:
          - path: /ws_mp/
            pathType: Prefix
            backend:
              service:
                name: windmill-multiplayer
                port:
                  number: 3002
    {{ if .Values.windmill.indexer.enabled }}
    - host: {{ .Values.windmill.baseDomain | quote }}
      http:
        paths:
          - path: /api/srch/
            pathType: Prefix
            backend:
              service:
                name: windmill-indexer
                port:
                  number: 8000
    {{ end }}
    {{ if .Values.hub.enabled }}
    - host: {{ .Values.hub.baseDomain | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: windmill-hub
                port:
                  number: 3003
    {{ end }}
    {{ end }}
    {{ if .Values.windmill.publicAppDomain }}
    - host: {{ .Values.windmill.publicAppDomain | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: windmill-app
                port:
                  number: 8000
    {{ end }}
    {{ if .Values.windmill.secondaryApiDomain }}
    - host: {{ .Values.windmill.secondaryApiDomain | quote }}
      http:
        paths:
          - path: /api/*
            pathType: Prefix
            backend:
              service:
                name: windmill-app
                port:
                  number: 8000
    {{ end }}
    - host: {{ .Values.windmill.baseDomain | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: windmill-app
                port:
                  number: 8000
{{- end }}
