{{- if and .Values.windmill.operator.enabled .Values.windmill.operator.createInstance -}}
apiVersion: windmill.dev/v1alpha1
kind: WindmillInstance
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: windmill-operator
    chart: {{ template "windmill.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
{{ toYaml .Values.windmill.operator.instanceSpec | indent 2 }}
{{- end -}}
