{{- if and .Values.windmill.operator.enabled .Values.windmill.operator.instanceSpec -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-instance
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: windmill-operator
    chart: {{ template "windmill.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  spec: |
{{ toYaml .Values.windmill.operator.instanceSpec | indent 4 }}
{{- end -}}
