apiVersion: v2
name: windmill
type: application
version: 2.0.257
appVersion: 1.383.0
dependencies:
  - condition: postgresql.enabled
    name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 12.3.1
  - condition: hub-postgresql.enabled
    name: postgresql
    alias: hub-postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 12.3.1
  - condition: minio.enabled
    name: minio
    repository: https://charts.bitnami.com/bitnami
    version: 12.4.2
deprecated: false
description:
  Windmill - Turn scripts into endpoints, workflows and UIs in minutes
home: https://www.windmill.dev/
icon: https://www.windmill.dev/img/windmill.svg
keywords:
  - windmill
  - scripts
  - flows
  - workflows
  - internal
  - apps
  - open-source
maintainers:
  - email: ruben@windmill.dev
    name: windmill
    url: https://www.windmill.dev/
sources:
  - https://github.com/windmill-labs/windmill-helm-charts.git
